[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/avrahamshukron/json.git
[submodule "third_party/json-schema-validator"]
	path = third_party/json-schema-validator
	url = https://github.com/pboettch/json-schema-validator.git
